
#quiz{
	text-align: center;
	
}
#background{
	background-image: url("bckgrndpics/paper.jpg");

}

button{
	background: rgb(167, 116, 41);
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: oldlace;
	font-size: 16px;
	transition-duration: .5s;
	margin-top: 15px;
	}
button:hover  {
	background: oldlace;
	border: 1px solid rgb(34, 37, 34);
	color: rgb(167, 116, 41);
	cursor: pointer;
}
.answer{
	
	border-style: double;
	border-radius: 20px;
	background-color: white;
}
label{
	margin: 20px;
}
input{
	padding: 250px;
}
input[type='radio'] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; 
	background: white ;
	outline: 2px solid #333;
	border: 3px solid white;
	width: 16px;
	height: 16px;

  }
  
  input[type='radio']:checked {
	background: #333;
  } 


#button {
	background: rgb(167, 116, 41);
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: .5s;
	margin-top: 15px;
}



#button:hover {
	background: white;
	border: 1px solid rgb(34, 37, 34);
	color: black;
	cursor: pointer;

}

#scoreboard  {
	visibility: hidden;
	 
	font-size: 35px; 
	padding: 40px;



}


p{
	font-weight: bold;
	font-size: x-large;

}
.question{
	padding-top: 50px;
	border-style: solid;
	border-color: #001a00;
	background-color: white;
	border-radius: 20px;
	
}
.fa {
    font-size: 30px;
    width: 50px;
    text-align: left;
    text-decoration: none;
    color: #cbbe66;
    }
#toprowfoot{
    margin-left: 5px;
}
footer p{
    text-align: left;
    margin-top: 0.1em;
    color: #cbbe66;
}
footer h4{
    size: 3em;
    color: #cbbe66;
}
footer li{
    color: #cbbe66;
}
footer{
    padding: 1em;
    bottom: 0;
    margin: 0;
    background-color: #583E23;
}
#copyright {
    font-size: 0.5em;
    text-align: center;
}
nav{
	margin-top: 10px;
	background-color: #a2c5ac;
	padding: 20px;
	text-align: center;
	margin-bottom: 0 !important;
  }
nav a{
	  color: #583E23;
	  font-size: 2em;
	  font-family: 'Macondo';
  }
nav a:hover{
	color: #3a2917;
	font-size: 2.1em;
	font-family: 'Macondo';
	
  }
#pgtitle a{
	  color: #534921;
	  font-size: 3em;
	  font-family: 'Caesar Dressing'
  }
#pgtitle a:hover { 
	color: #534921;
	font-size: 3.03em;
	font-family: 'Caesar Dressing'
  }