body {

	color: #333;
	background-color: oldlace;
}
#quiz{
	text-align: center;
	
}
#background{
	background-image: url("bckgrndpics/greek.jpg");
}
button{
	background: rgb(167, 116, 41);
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: oldlace;
	font-size: 16px;
	transition-duration: .5s;
	margin-top: 15px;
	}
button:hover  {
	background: oldlace;
	border: 1px solid rgb(34, 37, 34);
	color: rgb(167, 116, 41);
	cursor: pointer;
}
.answer{
	margin: 20px;
	border-style: double;
	padding: 30px;
	background-color: white;
}
label{
	margin: 5px;
}
input{
	padding: 20px;
}
input[type='radio'] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; 
	background: white ;
	outline: 2px solid #333;
	border: 3px solid white;
	width: 16px;
	height: 16px;

  }
  
  input[type='radio']:checked {
	background: #333;
  } 


#button {
	background: rgb(167, 116, 41);
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: .5s;
	margin-top: 15px;
}



#button:hover {
	background: white;
	border: 1px solid rgb(34, 37, 34);
	color: black;
	cursor: pointer;

}

#scoreboard  {
	visibility: hidden;
	 
	font-size: 35px; 
	padding: 40px;



}


p{
	font-weight: bold;
	font-size: x-large;
}
.question{
	padding-top: 50px;
	border-style: solid;
	border-color: #001a00;
	background-color: white;
	margin: 50px;
	border-radius: 25px;
	
}