/* selected color pallet:
73683b 583e23 a2c5ac cbbe66 f3b61f 9db5b2 */
 /*Body-ody-ody */ 
 body{
    /* background-color: #ffcd9f; */
    background-color: wheat;
 }
/* Nav Stuff */
nav{
    background-color: #a2c5ac;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    margin-bottom: 0 !important;
}
nav a{
    color: #583E23;
    font-size: 2em;
}
#pgtitle a{
    color: #534921;
    font-size: 3em;
    /* font-family: Aladin; */
    /* font-family: 'Atomic Age'; */
    /* font-family: 'Berkshire Swash' */
    /* font-family: 'Caesar Dressing' */
    font-family: 'Lily Script One'
}
/* carousel */
.carpic {
    width: 90Vw ;
    height: 60vh !important;
}
/* footer stuff */
.fa {
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #cbbe66;
    }
footer p{
    text-align: center;
    margin-top: 0.1em;
    color: #cbbe66;
}
footer h4{
    size: 3em;
    color: #cbbe66;
}
footer li{
    color: #cbbe66;
}
footer{
    bottom: 0;
    margin: 0;
    background-color: #583E23;
}
/*  */
